<h4>Nav bar</h4>
<a href="/">Home</a>
<a href="/posts">Posts</a>
<a href="/posts/new">Create a new post!</a>
<a href="/cards">Cards</a>
<a href="/cards/new">Create a new card!</a>
<a href="/bots">bots</a>
<a href="/bots/new">Create a new bot!</a>
