<a href="/"><img class="logo" src="images/spartalogo.png" alt=""></a>
<div class="">
  <a href="/posts">Posts</a>
  <a href="/posts/new">Create a new post!</a>
  <a href="/cards">Cards</a>
  <a href="/cards/new">Create a new card!</a>
  <a href="/bots">bots</a>
  <a href="/bots/new">Create a new bot!</a>

</div>
